body{
    background-image: url("../images/dogs.jpg");
    background-size: 100%;
}


/* .jumbotron{
    opacity: 

} */

.content{
    height: 800px;
    padding-right: 80px;
    padding-left: 80px;
}

.question{
    border: 1px solid black;
}